{
    mode => "production",

    access_log => "/var/log/mojobot/access.log",
    mojo_log => "//var/log/mojobot/mojo.log",

    # Which X display the teamspeak client should be on, this should match the
    # port specified for Xvfb in the startup script
    xdisplay => ":20",

    # Which ts3 executable to run - other parameters will come from the saved
    # connection details in Teamspeak
    ts3client => "/home/mojobot/ts3/ts3client_runscript.sh",

    # Straightforward - used to construct command line for teamspeak. Set this to the same
    # server address you set in the bookmark config
    teamspeakserver => "127.0.0.1",

    # Straightforward - when started, the bot will load and play this playlist
    # through mopidy
    defaultplaylist => "My_Default_Playlist",

    # How many seconds to wait between pushing status updates through websocket
    ws_update_freq => 5,

    # Hypnotoad configuration parameters
    hypnotoad => {
        # This is the address/port the bot will listen on
	    listen => ["http://*:8080"],
    },

    # Set this to the port that we'll be visible on from the outside. It's normally the same port as the one
    # specified in the above listen statement, but if you use port forwarding or a reverse proxy, it can be
    # different. This needs to be set correctly for the websocket connection to work.
    proxy_port => "7000",

}
