<!DOCTYPE html>
<html>
<head>
<title>MojoBot - <%= $version %></title>
%= stylesheet 'player.css'
%= stylesheet 'https://fonts.googleapis.com/css?family=Electrolize'
%= javascript 'https://code.jquery.com/jquery-3.3.1.min.js'
</head>
<body>
<script>
var ws = new WebSocket('<%= url_for("ws")->to_abs->port($wsport)->scheme($wsproto) %>');

ws.onopen    = function (event) { ws.send('wsConnected') };
ws.onclose   = function (event) { document.getElementById('wsStatus').innerHTML = 'disconnected'; };

ws.onmessage = function (event) {
    var msg = JSON.parse(event.data);

    for (var key in msg) {
        if (document.getElementById(key)) {
	    document.getElementById(key).innerHTML = msg[key];
	};
    };
};

function backendFunc(func) {
    $.get("/" + func, function (data) {
	    console.log(data)
	    var str = JSON.stringify(data);
	    $('#debug').text(str);
	})
    .fail(function() {
	    window.location.replace('<%= url_for("login") %>')
    });
}

</script>
<h2>Music bot remote control</h2>
<div id="player">
<div id="service">
Backend: <span id="wsStatus">connecting</span> /
Bot: <span id="botOnline"></span> /
Player: <span id="playerState"></span> /
<!--</div>
<div id="mpd">-->
Random: <span id="playerRandom"></span> /
Repeat: <span id="playerRepeat"></span> /
Volume: <span id="playerVolume"></span>
</div>
<div id="song">
<span id="currentSong"></span>
(<span id="timeElapsed"></span>/<span id="timeTotal"></span>)
</div>
<div id="controls">
<span id="start"><a href='#' onclick="backendFunc('start')">Start bot</a></span>
-
<span id="kill"><a href='#' onclick="backendFunc('kill')">Kill bot</a></span>
|
<span id="play"><a href='#' onclick="backendFunc('play')">Play</a></span>
-
<span id="stop"><a href='#' onclick="backendFunc('stop')">Stop</a></span>
|
<span id="prev"><a href='#' onclick="backendFunc('prev')">&lt;&lt;Prev</a></span>
-
<span id="next"><a href='#' onclick="backendFunc('next')">Next&gt;&gt;</a></span>
</div>
</div>
<h3>Notes on using the bot:</h3>
<ul id="notes">
<li>"Start" will fire up the bot, connect to the default channel saved in Teamspeak, and start playing, randomized
<li>Don't click on Start if you've already done it (e.g. you see Bot: 1 in the top status row). Just wait for the bot to appear.</li>
<li>If you see "Player: error" in the top status line, that means the music player crashed.</li>
<li>Use Play/Stop to control the music while the bot is connected. If you want it to go away, click "Kill".
<li>Status updates every 5 seconds. If you see "Backend: disconnected", it means you won't receive status updates although the bot may still be able to play. Try to reload the page.
<li>After killing, don't start it again until it disappears from TS. The server won't allow the same client ID twice.</li>
<li>Yes I know it looks awful. Better designs are welcome.
<li>Thank you for reading through.
</ul>
<div id="debug"></div>
</body>
</html>
